﻿@page "/"
@using RoomCreator.Web.Data;
@inject RoomDecoratorService DecoratorService;

<h1>Room Decorator</h1>
<hr />
<EditForm id="frmRoomDetails" Model="@request" OnValidSubmit="@GetPaintDetails">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <NumberInput Title="Length" @bind-Value="@request.Length" Suffix="m" />
    <NumberInput Title="Width" @bind-Value="@request.Width" Suffix="m" />
    <NumberInput Title="Height" @bind-Value="@request.Height" Suffix="m" />
    <NumberInput Title="Paint Coverage" @bind-Value="@request.PaintCoverage" Suffix="l/m<sup>2</sup>" />
    <CheckInput Title="Include Ceiling" @bind-Value="@request.IncludeCeiling" />

    <button id="btnGetRoomDetails" type="submit" class="btn btn-primary">Get Room Details</button>
</EditForm>
<RoomDetails Value="@result" />

@code{
    RoomDecoratorResult result = null;
    RoomDecoratorRequest request = new RoomDecoratorRequest();
    protected async void GetPaintDetails()
    {
        result = await DecoratorService.GetRoomDetails(request);
        this.StateHasChanged();
    }
}


