<div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="cb" value="@Value" @onchange=@ValueChange />
    <label class="form-check-label" for="cb">@Title</label>
  </div>

  @code{
        [Parameter]
        public string Title { get; set; }
        [Parameter]
        public bool Value{ get; set; }

        [Parameter]
        public Action<bool> ValueChanged { get; set; }

        protected void ValueChange(UIChangeEventArgs args)
        {
            Value = (bool)args.Value;
            ValueChanged(Value);
        }
  }