@using Microsoft.AspNetCore.Html;
<div class="form-group row">
    <label for="numberInput" class="col-sm-2 col-form-label">@Title</label>
    @if(!string.IsNullOrEmpty(Suffix)){
        <div class="input-group col-sm-3">
            <input type="number" class="form-control" id="numberInput" step="@StepIncrement" value="@Value" @onchange=@ValueChange />
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">@((MarkupString)Suffix)</span>
            </div>
        </div>
    }else{
        <div class="col-sm-3">
            <input type="number" class="form-control" id="numberInput" step="@StepIncrement" value="@Value" @onchange=@ValueChange />
        </div>
    }
    <ValidationMessage For="@(() => Value)" />
</div>

@code{
    [Parameter]
    public string Title{ get; set; }
    [Parameter]
    public double Value{ get; set; }
    [Parameter]
    public double StepIncrement{ get; set; } = 0.01;
    [Parameter]
    public string Suffix { get; set; }

    [Parameter]
    public Action<double> ValueChanged {get;set;}

    protected void ValueChange(UIChangeEventArgs args){
        Value = Convert.ToDouble(args.Value);
        ValueChanged(Value);
    }

}