@using RoomCreator.Web.Data;
@if(Value != null){
    <h2 class="mt-3">Room Details</h2>
    <hr />
    <div>
        <div class="form-group row">
            <label for="area" class="col-sm-2 col-form-label">Area</label>
            <div class="input-group col-sm-3">
                <input type="text" readonly class="form-control-plaintext" id="area" value="@Value.Room.FloorArea">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">m<sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="volume" class="col-sm-2 col-form-label">Volume</label>
            <div class="input-group col-sm-3">
                <input type="text" readonly class="form-control-plaintext" id="volume" value="@Value.Room.Volume">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">m<sup>3</sup></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="paintRequired" class="col-sm-2 col-form-label">Paint Required</label>
            <div class="input-group col-sm-3">
                <input type="text" readonly class="form-control-plaintext" id="paintRequried" value="@Value.PaintRequired">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">litres</span>
                </div>
            </div>
        </div>
    </div>
}

@code{
    [Parameter]
    public RoomDecoratorResult Value { get; set; }
}